.profile__job {
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
  text-align: left;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 25px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (min-width: 320px) and (max-width: 617px) {
  .profile__job {
      text-align: center;
      font-size: 14px;
      line-height: 16.94px;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: auto;
      padding-right: 10px;
  }
}