.card__group-like {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 22px;
  height: 35px;
  margin: 0;
  margin-top: 22px;
  margin-right: 5px;
  margin-bottom: 22px;
}