.popup__container {
  width: 430px;
  height: 330px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  position: relative;
  padding-left: 36px;
  padding-right: 36px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 617px) {
    .popup__container {
        width: 280px;
        height: 308px;
        margin: 0;
        padding: 0;
        padding-left: 22px;
        padding-right: 22px;
        margin-left: 19px;
        margin-right: 19px;
    }
}